{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% include 'header/header.html.twig' %}

    <div class="example-wrapper">
    <h1>Mon panier</h1>
    <p>Voici le récapitulatif de votre achat</p>
    {% if cart|length > 0 %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}
        <tr>
            <th>{{ product.product.name }}<br/>
                <small>{{ product.product.subtitle }}</small>
            </th>
            <td>x {{ product.quantity }}</td>
            <td>{{ (product.product.price / 100)|number_format(2,',', '.') }} euros</td>
            <td>{{ ((product.product.price * product.quantity)/100)|number_format(2,',','.') }} euros</td>
            <td>
                <a href="{{ path('deleteCart', {'id' : product.product.id}) }}">
                    <img src="{{ asset('assets/img/trash-alt-regular.svg') }}">
                </a>
            </td>
        </tr>
            {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}
        </tbody>
    </table>
        <div>
            <p>Nombre de produit dans le panier {{ cart|length }}</p>
            <p>Total : {{ (total / 100)|number_format(2,',','.') }}</p>
            <a class="btn btn-primary" href="{{ path('order') }}">
                Payer
            </a>
        </div>
    {% else %}
        <p>Mon panier est vide</p>
    {% endif %}
</div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
