{% extends 'base.html.twig' %}

{% block title %}Hello OrderCancelController!{% endblock %}
{% block stylesheets %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background-color: white; padding: 5px; border-radius: 5px }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}
{% block body %}
<div class="example-wrapper">
    <h2>Erreur de paiement</h2>
    <p>Bonjour <strong>{{ order.user.firstName }} {{ order.user.lastName }}
        </strong>,<br/><br/>
        il semblerait que votre paiment est échoué pour votre commande n°{{ order.reference }}.<br/>
        Une confiramtion d'erreur vient de vous étres envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>.
        <hr>
        <a class="btn btn-danger" href="{{ path('order') }}">rééssayer</a>
        <hr>
    </p>
</div>
{% endblock %}
