{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="background_register">
    <div class="titreLogo">
        <a class="navbar-brand" href="/">
            <img src="assets/img/netflix_logo.png" width="167px" height="90">
        </a>
    </div>
    <div class="form_center">
    <h1 class="register_title">Register</h1>

    {{ form_start(registrationForm) }}
<<<<<<< HEAD
        <p class="title_textbox">
            Email
            {{ form_row(registrationForm.email) }}
        </p>
        <p class="title_textbox">
            Password
            {{ form_row(registrationForm.plainPassword) }}
        </p>
        <div class="areaAgree">
            {{ form_row(registrationForm.agreeTerms) }}
            <p class="agree">Agree Terms</p>
        </div>

        <button type="submit" class="btn_register">Register</button>
    </div>
=======
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
>>>>>>> origin/LexoFullSymfony
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
