{{ form_start(form) }}

    {{ form_row(form.name) }}
<p class="title_textbox_profil">
    Avatar : {{ form_row(form.picture) }}
</p>
<div class="terms">
    <span style="margin-right: 10px">Contrôle Parental</span> {{ form_row(form.control) }}
</div>
<button type="submit" class="btn_register">Register</button>

{{ form_end(form) }}