{% extends 'base.html.twig' %}

{% block title %}Hello AccountAddressController!{% endblock %}
{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background-color: white; padding: 5px; border-radius: 5px }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}
{% block body %}
    {% include 'header/header.html.twig' %}
    <div class="example-wrapper">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{{ form_row(form.firstName) }}</div>
            <div class="col-md-6">{{ form_row(form.lastName) }}</div>
            <div class="col-md-6">{{ form_row(form.company) }}</div>
            <div class="col-md-6">{{ form_row(form.address) }}</div>
            <div class="col-md-6">{{ form_row(form.postal) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
            <div class="col-md-6">{{ form_row(form.country) }}</div>
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
        </div>
        {{ form_end(form) }}
    </div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
