{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block body %}
    {% include 'header/header.html.twig' %}

    <div class="view_account">
        <h1 class="title_result">Résultats</h1>
        <div class="position_result">
        <div class="item"  style="width: 135px" onclick="">
            <div class="item__image">
                <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
            </div>
            <div class="item__body">
                <p class="title-movie">star wars 1</p>
                <div class="item__more__information" id="">
                    <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                </div>
                <div class="item__description" style="display: none;">

                </div>
            </div>
        </div>

        <div class="item"  style="width: 135px" onclick="">
            <div class="item__image">
                <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
            </div>
            <div class="item__body">
                <p class="title-movie">star wars 1</p>
                <div class="item__more__information" id="">
                    <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                </div>
                <div class="item__description" style="display: none;">

                </div>
            </div>
        </div>

            <div class="item"  style="width: 135px" onclick="">
                <div class="item__image">
                    <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
                </div>
                <div class="item__body">
                    <p class="title-movie">star wars 1</p>
                    <div class="item__more__information" id="">
                        <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                    </div>
                    <div class="item__description" style="display: none;">

                    </div>
                </div>
            </div>

            <div class="item"  style="width: 135px" onclick="">
                <div class="item__image">
                    <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
                </div>
                <div class="item__body">
                    <p class="title-movie">star wars 1</p>
                    <div class="item__more__information" id="">
                        <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                    </div>
                    <div class="item__description" style="display: none;">

                    </div>
                </div>
            </div>

            <div class="item"  style="width: 135px" onclick="">
                <div class="item__image">
                    <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
                </div>
                <div class="item__body">
                    <p class="title-movie">star wars 1</p>
                    <div class="item__more__information" id="">
                        <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                    </div>
                    <div class="item__description" style="display: none;">

                    </div>
                </div>
            </div>

            <div class="item"  style="width: 135px" onclick="">
                <div class="item__image">
                    <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
                </div>
                <div class="item__body">
                    <p class="title-movie">star wars 1</p>
                    <div class="item__more__information" id="">
                        <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                    </div>
                    <div class="item__description" style="display: none;">

                    </div>
                </div>
            </div>

            <div class="item"  style="width: 135px" onclick="">
                <div class="item__image">
                    <img src="{{ asset('assets/movies/') }}star wars 1.jpg" style="width: 135px; height: 202.5px" />
                </div>
                <div class="item__body">
                    <p class="title-movie">star wars 1</p>
                    <div class="item__more__information" id="">
                        <img src="{{ asset('assets/img/flecheBas.png') }}" title="Plus d'info" style="width:32px; height:32px; margin: auto" />
                    </div>
                    <div class="item__description" style="display: none;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_account">
        {% include 'footer/footer.html.twig' %}
    </div>
{% endblock %}