{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande</p>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>Votre adresse</h5>
                {% set formHtml %}
                    {{ form_start(form, {action:path('order-show')}) }}
                    {{ form_label(form.addresses,'Choisissez votre adresse de livraison') }}
                    <a href="{{ path('add_account_address') }}">Ajouter une adresse</a>
                    {{ form_end(form) }}
                {% endset %}

                {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>récape de ma commande</h5>
                {% for product in cart %}
                    <div class="col-8">
                        {{ product.product.name }}<br/>
                        <small>{{ product.product.subtitle }}</small>
                    </div>
                    <div class="col-2">
                        <p>x {{ product.quantity }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
