{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}
{% block stylesheets %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;background-color: white; padding: 5px; border-radius: 5px }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}
{% block body %}
<div class="example-wrapper">
<h2>Je valide et paye ma commande</h2>
    <div class="row">
        <div class="col-md-6">
            <p>{{ delivery|raw }}</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>Récape de ma commande</h5>
                {% set total = null %}
                {% for product in cart %}
                    <div class="col-8">
                        {{ product.product.name }}<br/>
                        <small>{{ product.product.subtitle }}<br/>
                            x {{ product.quantity }}
                        </small>
                    </div>
                    <div class="col-2">{{ ((product.product.price * product.quantity)/100)|number_format(2,',','.') }} euros</div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>Sous-Total : </strong> {{ (total / 100)|number_format(2,',','.') }}

            <a id="checkout-button" class="btn btn-success btn-block">Payer | {{ (total / 100)|number_format(2,',','.') }}</a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51Hyfe1EzXUSbFk0TTfcX9hQfFEy26xCRA1mn7fMmcmTSC5pGOtum3lrXDJxYRWgCqkFLmWHd8xYSTvLFt2LKwL2V00JfIFzgw9');
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("{{ path('create-session-order',{'reference': reference}) }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if(session.error === 'order')
                    {
                        window.location.replace('{{ path('order') }}');
                    }
                    else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}
